<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    导入jdbc配置资源-->
    <properties resource="jdbc.yaml"/>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 开启log4j来记录日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <environments default="test">
        <environment id="test">
            <!--使用jdbc管理事务-->
            <transactionManager type="JDBC"/>
            <!--开启连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${spring.datasource.driver-class-name}"/>
                <property name="url" value="${spring.datasource.url}"/>
                <property name="username" value="${spring.datasource.username}"/>
                <property name="password" value="${spring.datasource.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--    加载映射文件 ,加载mapper文件夹下所有-->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>
</configuration>